<footer class="pb-3 text-black-50">
    <div class="container text-center">
        <div>
            <a href="https://www.facebook.com/Bela-Cosmetiks-945279552182608/" target="_blank"><i class="fab fa-facebook-f fa-lg me-2"></i></a>
            <a href="https://www.instagram.com/belacosmetiks/" target="_blank"><i class="fab fa-instagram fa-lg me-2"></i></a>
            <a href="https://wa.link/c6viyv"><i class="fab fa-whatsapp fa-lg"></i></a>
        </div>
        <small>Copyright {{year}} &copy; LacaHome by Bela</small><br>
        <small>Emiliano Rago</small>
    </div>
</footer>